@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');

/* General Styles */
body {
    font-family: 'Montserrat';
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.button {
    text-transform: uppercase;
    background-color: #7AE5FD;
    border-radius: 2rem;
    padding: 1.31rem 2.18rem;
    border: none;
    font-size: 1.2rem;
    font: inherit;
}

.white-button {
    background-color: #fff;
}

.section-button {
    margin: 0 0 10rem 0;
}

.main-subtitle {
    font-size: 1.2rem;
}

.subtitle {
    font-size: 1.68rem;
    line-height: 2rem;
}

.second-subtitle {
    color: #73A6B1;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.title {
    font-size: 3.75rem;
    line-height: 4.5rem;
    text-transform: uppercase;
}

.text {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

/* Header Styles */

header {
    display: flex;
    align-items: center;
    padding: 2.5rem 0;
    justify-content: space-between;
}

nav {
    width: 50%;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* First Screen */

.first-screen {
    background-image: url("./assets/images/First_Screen/first_screen_background.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 0.9;
}

.first-screen .centered-block {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 30%;
    grid-gap: 1.2rem;
}

.main-title {
    font-size: 4.06em;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
}

/* Description Screen */

.description-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-centered-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10rem 10rem;
    grid-gap: 0.9rem;
    max-width: 60%;
}

.description-column {
    display: flex;
    flex-direction: column;
    grid-gap: 3.12rem;
    justify-content: center;
    align-items: center;
}

.description-block {
    padding: 2.5rem 0;
    background-color: #F1FDFF;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}

.description-block-content {
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-gap: 0.62rem;
}

.description-block-title {
    font-size: 2.87rem;
    line-height: 3.43rem;
    text-transform: uppercase;
}

.description-block-image {
    border-radius: 10px;
}

/* Our Mission Screen */

.our-mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.our-mission-block {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5.62rem 3.67rem;
    background-color: #F1FDFF;
}

.our-mission-text {
    font-size: 1.68rem;
    line-height: 2rem;
    max-width: 40%;
}

.our-mission-images-container {
    min-width: 30%;
    position: relative;
}

.our-mission-image {
    position: absolute;
    /* top: -19.2rem;
    right: 3.87rem; */
    bottom: -93%;
    z-index: 2;

}

.our-mission-image-background {
    position: absolute;
    z-index: 1;
    bottom: -70%;
    left: -30%;
}

/* Support Screen */

.support {
    display: flex;
    flex-direction: column;
    grid-gap: 3.12rem;
    justify-content: center;
    align-items: center;
}

.support-title {
    margin: 0 0 0.9rem 0;
}

.support-goal {
    text-align: center;
}

.goal-title {
    margin: 0 0 1.06rem 0;
}

.goal-millions {
    border-right: 2px solid #9AD2DE;
}

.goal-numbers {
    padding: 0 0.8rem;
}

.goal-thousands {
    border-right: 2px solid #9AD2DE;
}

/* Footer */

footer {
    background-color: #F9FADF;
    padding: 0 0 10rem 0;
}

.contacts {
    padding: 3.12rem 0 0 0;
    display: flex;
    justify-content: space-between;
    height: 25vh;
}

.contacts-header {
    width: 45%;
    display: flex;
    justify-content: center;
}

.contacts-content {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts-phone {
    width: 50%;
}

.phone-logo {
    margin: 0 0 0.56rem 0;
}

.phone-number {
    font-weight: 800;
}

.socials-logo-container {
    display: flex;
    grid-gap: 1rem;
}

.social-logo {
    margin: 0 0.25rem 0 0;
}

.form-container {   
    margin: 3.12rem 0 0 0;
    background-color: #fff;
    padding: 3.75rem;
    display: flex;
    justify-content: space-between;
}

form {
    width: 45%;
    display: flex;
    flex-direction: column;
    grid-gap: 2.43rem;
}

.form-controls {
    display: flex;
    flex-direction: column;
    grid-gap: 1.93rem;
}

.form-controls input {
    background-color: #F9FADF;
    border: none;
    padding: 1.31rem 2.68rem;
    border-radius: 2rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #000;
    font-family: Montserrat;
}

.form-controls input::placeholder {
    color: #000;
}